body {

    font-family: Arial, sans-serif;

    background: #f5f5f5;

    margin: 0;

    display: flex;

    justify-content: center;

    align-items: center;

    height: 100vh;

}


.container {

    background: white;

    padding: 40px;

    border-radius: 12px;

    text-align: center;

    width: 500px;

}


input {

    width: 70%;

    padding: 12px;

    font-size: 16px;

}


button {

    padding: 12px 20px;

    font-size: 16px;

    cursor: pointer;

}


#status {

    margin-top: 20px;

}